header.s-header

  include ../components/c-corner

  .s-header__banner
    .text-center
      h1.font-weight-bold= translation.SITE_NAME
      p.sub-heading= translation.SITE_TAGLINE

  .s-header__media
    ul.s-header__media__list
      li.s-header__media__item
        a(href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text=translation.social.TWITTER_MSG data-via=translation.social.TWITTER_VIA data-hashtags=translation.social.TWITTER_HASHTAGS data-show-count="false")= translation.social.TWEET
      li.s-header__media__item
        a.github-button(href=translation.URL_GITHUB_ROOT data-icon="octicon-star" data-show-count="true" aria-label=translation.social.GITHUB_STAR_MSG)= translation.social.STAR
